<a href="https://colab.research.google.com/github/pushpanjali316/Pandas_For_DataScience/blob/main/DV_Lab_Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import files
import pandas as pd

# Upload file
uploaded = files.upload()

# Read the uploaded CSV
df = pd.read_csv(next(iter(uploaded)))
df.head()

Saving supermarket_sales.csv to supermarket_sales (1).csv

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

2.	to get the data types of the given csv data (supermarket_sales.) fields

In [ ]:
df.dtypes

Invoice ID                  object
Branch                      object
City                        object
Customer type               object
Gender                      object
Product line                object
Unit price                 float64
Quantity                     int64
Tax 5%                     float64
Total                      float64
Date                        object
Time                        object
Payment                     object
cogs                       float64
gross margin percentage    float64
gross income               float64
Rating                     float64
dtype: object

In [ ]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [ ]:
df.shape

(1000, 17)

In [ ]:
df.describe()

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1.000000e+03,1000.000000,1000.00000
mean,55.672130,5.510000,15.379369,322.966749,307.58738,4.761905e+00,15.379369,6.97270
std,26.494628,2.923431,11.708825,245.885335,234.17651,6.131498e-14,11.708825,1.71858
min,10.080000,1.000000,0.508500,10.678500,10.17000,4.761905e+00,0.508500,4.00000
25%,32.875000,3.000000,5.924875,124.422375,118.49750,4.761905e+00,5.924875,5.50000
50%,55.230000,5.000000,12.088000,253.848000,241.76000,4.761905e+00,12.088000,7.00000
75%,77.935000,8.000000,22.445250,471.350250,448.90500,4.761905e+00,22.445250,8.50000
max,99.960000,10.000000,49.650000,1042.650000,993.00000,4.761905e+00,49.650000,10.00000

5.	insert a column in the third position of the said excel sheet and fill it with NaN values

In [ ]:
df.insert(3,"New_Column",np.nan)
df.head()

,Invoice ID,Branch,City,New_Column,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,NaN,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,NaN,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,NaN,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,NaN,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,NaN,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [ ]:
#columns
df.shape[0]

1000

In [ ]:
#rows
df.shape[1]

18

8.	Use duplicated() function to print the logical vector indicating the duplicate values present in the dataset supermarket_sales.

In [ ]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

9.	dataframe into groups based on city

In [ ]:
df.groupby(by='City')

df.groupby('City') → Creates a GroupBy object where rows are grouped by each unique city.

grouped is not a DataFrame, but an object you can iterate over or apply aggregations to.

In [ ]:
grouped=df.groupby('City')
grouped.groups

{'Mandalay': [9, 10, 11, 15, 19, 21, 22, 26, 28, 30, 31, 32, 39, 40, 42, 45, 46, 47, 48, 52, 54, 62, 64, 67, 72, 81, 89, 93, 96, 99, 104, 110, 112, 116, 117, 119, 122, 124, 129, 130, 132, 133, 138, 148, 150, 156, 157, 158, 159, 164, 165, 171, 173, 174, 185, 186, 187, 190, 191, 193, 201, 203, 204, 208, 209, 212, 213, 214, 216, 218, 219, 220, 221, 226, 228, 230, 231, 232, 233, 238, 244, 246, 249, 250, 255, 262, 264, 267, 270, 274, 275, 285, 288, 290, 294, 301, 304, 310, 325, 328, ...], 'Naypyitaw': [1, 5, 7, 20, 34, 35, 38, 41, 43, 44, 49, 50, 53, 55, 59, 60, 61, 66, 70, 71, 73, 75, 76, 78, 79, 80, 82, 83, 84, 85, 86, 90, 91, 94, 97, 100, 101, 102, 106, 108, 109, 111, 114, 115, 121, 123, 127, 128, 134, 135, 140, 141, 142, 143, 145, 147, 151, 153, 154, 160, 163, 166, 172, 177, 179, 180, 181, 183, 189, 192, 195, 196, 198, 199, 200, 202, 206, 207, 211, 222, 223, 225, 227, 236, 237, 242, 251, 252, 259, 261, 266, 271, 276, 277, 278, 281, 286, 287, 291, 295, ...], 'Yangon': [0, 2, 3, 4, 6, 8, 12, 13, 14, 16, 17, 18, 23, 24, 25, 27, 29, 33, 36, 37, 51, 56, 57, 58, 63, 65, 68, 69, 74, 77, 87, 88, 92, 95, 98, 103, 105, 107, 113, 118, 120, 125, 126, 131, 136, 137, 139, 144, 146, 149, 152, 155, 161, 162, 167, 168, 169, 170, 175, 176, 178, 182, 184, 188, 194, 197, 205, 210, 215, 217, 224, 229, 234, 235, 239, 240, 241, 243, 245, 247, 248, 253, 254, 256, 257, 258, 260, 263, 265, 268, 269, 272, 273, 279, 280, 282, 283, 284, 289, 292, ...]}

10.	skipping first twenty rows into a Pandas dataframe.

this keeps all rows starting from index 20 onwards.

The first 20 rows are effectively skipped/removed.

In [ ]:
df=df.iloc[20:]

In [ ]:
df

,Invoice ID,Branch,City,New_Column,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
20,300-71-4605,C,Naypyitaw,NaN,Member,Male,Electronic accessories,86.04,5,21.5100,451.7100,2/25/2019,11:24,Ewallet,430.20,4.761905,21.5100,4.8
21,371-85-5789,B,Mandalay,NaN,Normal,Male,Health and beauty,87.98,3,13.1970,277.1370,3/5/2019,10:40,Ewallet,263.94,4.761905,13.1970,5.1
22,273-16-6619,B,Mandalay,NaN,Normal,Male,Home and lifestyle,33.20,2,3.3200,69.7200,3/15/2019,12:20,Credit card,66.40,4.761905,3.3200,4.4
23,636-48-8204,A,Yangon,NaN,Normal,Male,Electronic accessories,34.56,5,8.6400,181.4400,2/17/2019,11:15,Ewallet,172.80,4.761905,8.6400,9.9
24,549-59-1358,A,Yangon,NaN,Member,Male,Sports and travel,88.63,3,13.2945,279.1845,3/2/2019,17:36,Ewallet,265.89,4.761905,13.2945,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,NaN,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,NaN,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,NaN,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,NaN,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,NaN,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [ ]:
#to reset index
df.reset_index(drop=True, inplace=True)
df.head()

,Invoice ID,Branch,City,New_Column,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,300-71-4605,C,Naypyitaw,NaN,Member,Male,Electronic accessories,86.04,5,21.5100,451.7100,2/25/2019,11:24,Ewallet,430.20,4.761905,21.5100,4.8
1,371-85-5789,B,Mandalay,NaN,Normal,Male,Health and beauty,87.98,3,13.1970,277.1370,3/5/2019,10:40,Ewallet,263.94,4.761905,13.1970,5.1
2,273-16-6619,B,Mandalay,NaN,Normal,Male,Home and lifestyle,33.20,2,3.3200,69.7200,3/15/2019,12:20,Credit card,66.40,4.761905,3.3200,4.4
3,636-48-8204,A,Yangon,NaN,Normal,Male,Electronic accessories,34.56,5,8.6400,181.4400,2/17/2019,11:15,Ewallet,172.80,4.761905,8.6400,9.9
4,549-59-1358,A,Yangon,NaN,Member,Male,Sports and travel,88.63,3,13.2945,279.1845,3/2/2019,17:36,Ewallet,265.89,4.761905,13.2945,6.0

11.	a dataframe and find details where ‘gross income ' > 39.824

In [ ]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'New_Column', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [ ]:
df['gross income']

0      21.5100
1      13.1970
2       3.3200
3       8.6400
4      13.2945
        ...
975     2.0175
976    48.6900
977     1.5920
978     3.2910
979    30.9190
Name: gross income, Length: 980, dtype: float64

In [ ]:
df[df['gross income']>39.824].head()
#this conditional selection gives an another data frame

,Invoice ID,Branch,City,New_Column,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
29,574-22-5561,C,Naypyitaw,NaN,Member,Female,Fashion accessories,82.63,10,41.315,867.615,3/19/2019,17:08,Ewallet,826.3,4.761905,41.315,7.9
50,393-65-2792,C,Naypyitaw,NaN,Normal,Male,Food and beverages,89.48,10,44.740,939.540,1/6/2019,12:46,Credit card,894.8,4.761905,44.740,9.6
76,766-85-7061,B,Mandalay,NaN,Normal,Male,Health and beauty,87.87,10,43.935,922.635,3/29/2019,10:25,Ewallet,878.7,4.761905,43.935,5.1
85,704-48-3927,A,Yangon,NaN,Member,Male,Electronic accessories,88.67,10,44.335,931.035,1/12/2019,14:50,Ewallet,886.7,4.761905,44.335,7.3
89,861-77-0145,C,Naypyitaw,NaN,Member,Male,Electronic accessories,81.97,10,40.985,860.685,3/3/2019,14:30,Cash,819.7,4.761905,40.985,9.2

12.	Pandas dataframe and display the last ten rows

In [ ]:
df.tail(10)

,Invoice ID,Branch,City,New_Column,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
970,886-18-2897,A,Yangon,NaN,Normal,Female,Food and beverages,56.56,5,14.1400,296.9400,3/22/2019,19:06,Credit card,282.80,4.761905,14.1400,4.5
971,602-16-6955,B,Mandalay,NaN,Normal,Female,Sports and travel,76.60,10,38.3000,804.3000,1/24/2019,18:10,Ewallet,766.00,4.761905,38.3000,6.0
972,745-74-0715,A,Yangon,NaN,Normal,Male,Electronic accessories,58.03,2,5.8030,121.8630,3/10/2019,20:46,Ewallet,116.06,4.761905,5.8030,8.8
973,690-01-6631,B,Mandalay,NaN,Normal,Male,Fashion accessories,17.49,10,8.7450,183.6450,2/22/2019,18:35,Ewallet,174.90,4.761905,8.7450,6.6
974,652-49-6720,C,Naypyitaw,NaN,Member,Female,Electronic accessories,60.95,1,3.0475,63.9975,2/18/2019,11:40,Ewallet,60.95,4.761905,3.0475,5.9
975,233-67-5758,C,Naypyitaw,NaN,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
976,303-96-2227,B,Mandalay,NaN,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
977,727-02-1313,A,Yangon,NaN,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
978,347-56-2442,A,Yangon,NaN,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
979,849-09-3807,A,Yangon,NaN,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [ ]:
df['City']

0      Naypyitaw
1       Mandalay
2       Mandalay
3         Yangon
4         Yangon
         ...
975    Naypyitaw
976     Mandalay
977       Yangon
978       Yangon
979       Yangon
Name: City, Length: 980, dtype: object

13.	csv data (supermarket_sales) into a dataframe and find a specific city.

In [ ]:
city_name=input("Enter city name to find : ")
city_name in df['City']

Enter city name to find : Yangon

False

In [ ]:
df[df['City']==city_name].head()

,Invoice ID,Branch,City,New_Column,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
3,636-48-8204,A,Yangon,NaN,Normal,Male,Electronic accessories,34.56,5,8.6400,181.4400,2/17/2019,11:15,Ewallet,172.80,4.761905,8.6400,9.9
4,549-59-1358,A,Yangon,NaN,Member,Male,Sports and travel,88.63,3,13.2945,279.1845,3/2/2019,17:36,Ewallet,265.89,4.761905,13.2945,6.0
5,227-03-5010,A,Yangon,NaN,Member,Female,Home and lifestyle,52.59,8,21.0360,441.7560,3/22/2019,19:20,Credit card,420.72,4.761905,21.0360,8.5
7,189-17-4241,A,Yangon,NaN,Normal,Female,Fashion accessories,87.67,2,8.7670,184.1070,3/10/2019,12:17,Credit card,175.34,4.761905,8.7670,7.7
9,848-62-7243,A,Yangon,NaN,Normal,Male,Health and beauty,24.89,9,11.2005,235.2105,3/15/2019,15:36,Cash,224.01,4.761905,11.2005,7.4

Filter for one city	df[df['City'] == 'Yangon']
Filter for multiple cities	df[df['City'].isin(['Yangon', 'Mandalay'])]
Case-insensitive filtering	df[df['City'].str.lower() == 'yangon']

In [ ]:
#to check if a city name is present City column in given data frame
if "Yangon" in df['City'].values:
    print("Present")
else:
    print("Not present")

Present

14.	Extract duplicate elements from the dataset supermarket_sales.

In [ ]:
duplicate_rows=df[df.duplicated()] #returns a tuple
print(duplicate_rows)

Empty DataFrame
Columns: [Invoice ID, Branch, City, New_Column, Customer type, Gender, Product line, Unit price, Quantity, Tax 5%, Total, Date, Time, Payment, cogs, gross margin percentage, gross income, Rating]
Index: []

How .duplicated() Works?
Returns True for rows that are duplicates of earlier rows.
Keeps the first occurrence as False and marks the rest as True.

In [ ]:
#Count Total Number of Duplicate Rows
df.duplicated().sum()

np.int64(0)

15.	to create a subtotal of " gross income" against city from the given csv data.

In [ ]:
#Group by City and Calculate Subtotal
#The "Total" column usually represents the bill amount for each transaction.
df.groupby('City')['gross income'].sum()

City
Mandalay     5008.6620
Naypyitaw    5194.6900
Yangon       4813.8975
Name: gross income, dtype: float64

16.	Extract unique elements from the dataset supermarket_sales.

In [ ]:
#to get unique values for each column
df['City'].unique()

array(['Naypyitaw', 'Mandalay', 'Yangon'], dtype=object)

#to get unique values for each column
for column in df.columns:
    print(f"{column}: {df[column].unique()}")

17.	How many unique elements are in the dataset supermarket_sales

In [ ]:
# to count the no.of unique values for each column
for column in df.columns:
    print(f"{column}: {df[column].nunique()}")

Invoice ID: 980
Branch: 3
City: 3
New_Column: 0
Customer type: 2
Gender: 2
Product line: 6
Unit price: 924
Quantity: 10
Tax 5%: 970
Total: 970
Date: 89
Time: 500
Payment: 3
cogs: 970
gross margin percentage: 1
gross income: 970
Rating: 61

18.In a Pandas dataframe and to sort the records by the 'Date' column.

In [ ]:
df.sort_values(by='Date',inplace=True)
df

/tmp/ipython-input-8008192.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.sort_values(by='Date',inplace=True)

,Invoice ID,Branch,City,New_Column,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
809,416-17-9926,A,Yangon,NaN,Member,Female,Electronic accessories,74.22,10,37.1100,779.3100,1/1/2019,14:42,Credit card,742.20,4.761905,37.1100,4.3
464,493-65-6248,C,Naypyitaw,NaN,Member,Female,Sports and travel,36.98,10,18.4900,388.2900,1/1/2019,19:48,Credit card,369.80,4.761905,18.4900,7.0
476,556-97-7101,C,Naypyitaw,NaN,Normal,Female,Electronic accessories,63.22,2,6.3220,132.7620,1/1/2019,15:51,Cash,126.44,4.761905,6.3220,8.5
819,271-77-8740,C,Naypyitaw,NaN,Member,Female,Sports and travel,29.22,6,8.7660,184.0860,1/1/2019,11:40,Ewallet,175.32,4.761905,8.7660,5.0
225,530-90-9855,A,Yangon,NaN,Member,Male,Home and lifestyle,47.59,8,19.0360,399.7560,1/1/2019,14:47,Cash,380.72,4.761905,19.0360,5.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,616-87-0016,B,Mandalay,NaN,Normal,Male,Fashion accessories,95.54,7,33.4390,702.2190,3/9/2019,14:36,Credit card,668.78,4.761905,33.4390,9.6
104,268-27-6179,B,Mandalay,NaN,Member,Female,Fashion accessories,56.47,8,22.5880,474.3480,3/9/2019,14:57,Ewallet,451.76,4.761905,22.5880,7.3
306,815-11-1168,A,Yangon,NaN,Member,Male,Food and beverages,99.78,5,24.9450,523.8450,3/9/2019,19:09,Cash,498.90,4.761905,24.9450,5.4
606,816-57-2053,A,Yangon,NaN,Normal,Male,Sports and travel,60.87,2,6.0870,127.8270,3/9/2019,12:37,Ewallet,121.74,4.761905,6.0870,8.7
64,360-39-5055,C,Naypyitaw,NaN,Member,Male,Sports and travel,48.91,5,12.2275,256.7775,3/9/2019,10:17,Cash,244.55,4.761905,12.2275,6.6